<div class="container">
    <h1 class="center">Items List</h1>

    <div class="box" id="target" ondrop="drop_handler(event);" ondragover="dragover_handler(event);">
        <ul>
            <li id="li1" class="card item box-item" draggable="true" ondragstart="dragstart_handler(event);">
                <img src="../images/huawei-mate-10-lite-frente.jpg" alt="COMPLETAR">
                <p>Description:</p>
            </li>
            <li id="li2" class="card item box-item" draggable="true" ondragstart="dragstart_handler(event);">
                <img src="../images/Iphone-SE-16GB-FRENTE.jpg" alt="COMPLETAR">
                <p>Description:</p>
            </li>
            <li id="li3" class="card item box-item" draggable="true" ondragstart="dragstart_handler(event);">
                <img src="../images/j7-duos-frente.jpg" alt="COMPLETAR">
                <p>Description:</p>
            </li>
            <li id="li4" class="card item box-item" draggable="true" ondragstart="dragstart_handler(event);">
                <img src="../images/moto-g5s-plus-32gb-frente-gris-1.jpg" alt="COMPLETAR">
                <p>Description:</p>
            </li>
            <li id="li5" class="card item box-item" draggable="true" ondragstart="dragstart_handler(event);">
                <img src="../images/moto-z-blanco-frente-5.jpg" alt="COMPLETAR">
                <p>Description:</p>
            </li>
            <li id="li6" class="card item box-item" draggable="true" ondragstart="dragstart_handler(event);">
                <img src="../images/samsung-a6-frente-1.jpg" alt="COMPLETAR">
                <p>Description:</p>
            </li>
        </ul>
    </div>

</div>